---
const { nombre, imagen, texto } = Astro.props;
---

<article class="animal-card">
  <h2>{nombre}</h2>
  <img src={imagen} alt={nombre} />
  <p>{texto}</p>
</article>

<style>

  .animal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #171717;
    padding: 1rem;
    border-radius: 12px;
    background: #37963c;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease;
    text-align: center;
  }

  .animal-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
  }

  .animal-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0.5rem 0;
  display: block;
}


  .animal-card h2 {
    font-size: 1.4rem;
    margin: 0.5rem 0;
    color: #e6e6e6;
  }

  .animal-card p {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.6;
  }

  @media (max-width: 480px) {
    .animal-card h2 {
      font-size: 1.2rem;
    }

    .animal-card p {
      font-size: 0.95rem;
    }
  }
</style>
